<nav class="navbar navbar-expand-lg bg-border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/list">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/list/new">create list</a>
  </li>

  <% if(!currUser) { %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-right-to-bracket"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/signup">signup</a></li>
      <li><a class="dropdown-item" href="/login">login</a></li>
    </ul>
  </li>
  <% } %>

  <% if(currUser) { %>
  <li class="nav-item">
    <a class="nav-link" href="/logout">logout</a>
  </li>
  <% } %>
</ul>
        </li>
      </ul>
   <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-search" type="submit">Search</button>
    </form>
    </div>
  </div>
</nav>